{% extends 'base.html.twig' %}

{% block title %}DigtX - Admin: User Management{% endblock %}

{% block content %}
    <h1 class="s-title">User Management</h1>

    <hr class="s-hr mt-10 mb-30">

    <div class="horizontal-nav bread-crumbs mb-20">
        <div class="scroll-item">
            <a class="active">User Management</a>
        </div>
    </div>
    {{ form_widget(list) }}

{% endblock %}