* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

a, a:hover, a:active, a:visited, a:focus,
select, select:hover, select:active, select:visited, select:focus,
textarea, textarea:hover, textarea:active, textarea:visited, textarea:focus,
input, input:hover, input:active, input:visited, input:focus,
button, button:hover, button:active, button:visited, button:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  border: 0;
  background: transparent;
  color: inherit;
}

::-webkit-scrollbar {
  height: 2px;
  width: 5px;
  border-radius: 5px;
  z-index: 2;
  /* background: green; */
}

::-webkit-scrollbar-thumb {
  height: 1px;
  width: 10px;
  border-radius: 5px 5px !important;
  background-color: #D9D8D8 !important;
  z-index: 2;
}

.content::-webkit-scrollbar {
  height: 2px;
  width: 10px;
  border-radius: 5px;
  z-index: 2;
  /* background: green; */
  position: absolute;
  left: 0;
}

.content::-webkit-scrollbar-thumb {
  height: 10px;
  width: 10px;
  border-radius: 5px 5px !important;
  background-color: #D9D8D8 !important;
  z-index: 2;
}

body {
  min-width: 400px;
  background: #EFEFEF;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

.w-auto {
  width: auto;
}

a.g-atag {
  color: #7A8CF0;
}

.d-input:focus,
.d-input:hover,
.d-input {
  background: #FFFFFF;
  /* Dark White */
  border: 1px solid #D9D8D8;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 12px 0;
  padding: 8px 10px;
  color: #565656;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  width: 157px;
  cursor: pointer;
  height: 39px;
  /* margin-left: 12px; */
}
/* .d-input:nth-of-type(1){
  margin-left: 0;
} */
section {
  margin-bottom: 20px;
  width: 100%;
}

.g-btn:focus,
.g-btn:hover,
.g-btn {
  background: #7BE77E;
  border-radius: 5px;
  width: 139px;
  height: 35px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 14px 0;
  color: #FFFFFF;
  transition: background 0.5s;
}


.g-btn:focus,
.g-btn:hover {
  background: #91F094;
}

.p-btn:hover,
.p-btn:focus,
.p-btn {
  display: block;
  background: #7A8CF0;
  border-radius: 5px;
  width: 88px;
  height: 25px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-btn:hover {}

.r-btn:hover,
.r-btn:focus,
.r-btn {
  display: block;
  background: #F3368D;
  border-radius: 5px;
  width: 88px;
  height: 25px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.o-btn:focus,
.o-btn:hover,
.o-btn {
  display: block;
  background: #FFC468;
  border-radius: 5px;
  width: 139px;
  height: 35px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 14px 0;
  color: #FFFFFF;
  transition: background 0.5s;
}


.o-btn:focus,
.o-btn:hover {
  /* background: #91F094; */
}
.s-subtitle {
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #565656;
}

.bg-sec {
  padding: 28px 28px 28px 28px;
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.bg-not {
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}
.ml-10{
  margin-left: 10px !important;
}
.mr-10{
  margin-right: 10px;
}
img,
object {
  width: auto;
}

.d-flex {
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.d-item-40-60,
.d-item-50-50 {
  width: calc(100% + 2 * 12px);
  margin-right: -12px;
  margin-left: -12px;
}

.d-item-40-60>div,
.d-item-50-50>div {
  padding-right: 12px;
  padding-left: 12px;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.d-item-50-50>div {
  max-width: 50%;
}

.d-item-40-60>div:nth-of-type(1) {
  max-width: 40%;
}

.d-item-40-60>div:nth-of-type(2) {
  max-width: 60%;
}

.s-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #565656;
  margin-bottom: 20px;
}

.f-title {
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  color: #565656;
  margin: 0;
}

.f-ssubtitle,
.f-subtitle {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #565656;
  margin: 0;
}

.f-ttext,
.f-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #565656;
}

.f-ttext,
.f-ssubtitle {
  font-weight: normal;
}

.text-right {
  text-align: right;
}

.accordion-submenu {
  display: none;
}

.navigation-block a.navigation-submenu-link>div>object {
  display: none;
}

.navigation-block a.navigation-submenu-link>div {
  position: relative;
}

.navigation-block a.navigation-submenu-link>div::after {
  content: url('/public/assets/images/icons/arrow-down.svg');
  display: block;
  position: absolute;
  left: 4px;
  top: 30%;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: transform 0.5s;
  /* background: red; */
}

.navigation-block a.navigation-submenu-link[aria-expanded="true"]>div::after {
  transform: rotate(0deg);
}

.navigation {
  width: auto;
  background: #565656;
  min-height: 100vh;
  position: relative;
  max-height: 100vh;
  z-index: 1000;
  min-width: 200px;
  overflow: hidden;
  min-width: 200px;
  position: sticky;
  top: 0;
  left: 0;
}

.mobile-nav-btn {
  display: none;
  width: 38px;
  height: 30px;
  margin: 0 20px;
  padding: 0 10px;
  z-index: 10000;
  /* background: red !important; */
  position: relative;
  /* position: absolute;
      right: 0;
      top: 0;
      transform: translateY(-50%); */
  align-items: center;
  justify-content: center;
}

.mobile-nav-btn object {
  z-index: 999;
  /* display: none; */
  position: relative;
}

.mobile-nav-btn .icon {
  display: block;
  background-image: url('/public/assets/images/icons/hamburg-menu.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 18px;
  height: 13px;
  transition: background-image 0.5s;
  /* width: 18px;
  height: 2px;
  background: #FFF;
  min-width: 18px;
  position: relative; */
}

/* .mobile-nav-btn .icon:before{
  content: "";
   display: block;
  width: 18px;
  height: 2px;
  background: #FFF;
  position: absolute;
  top: -5px;
}
.mobile-nav-btn .icon:after{
  content: "";
   display: block;
  width: 18px;
  height: 2px;
  background: #FFF;
  position: absolute;
  bottom: -5px;
} */
.d-brand {
  padding: 0 25px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  z-index: 1;
  background: #565656;
}

.d-brand object {
  width: 99px;
}

/* .d-brand span{
  display: block;
  width: 1px;
  height: 100%;
  margin: 0 7px;
  background: #000000;
}
.d-brand object{
  width: 74px;
}
.d-brand p{
  font-size: 14px;
  font-weight: normal;
line-height: 14px;
letter-spacing: 0.02em;
text-transform: uppercase;
} */
.d-links-list {
  z-index: 1;
  background: #565656;
  height: 100% !important;
  width: 200px;
}

@keyframes slideLeftM {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideRightM {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.d-links {
  overflow-y: auto;
  max-height: calc(100vh - 70px - 210px);
  list-style: none;
  width: 200px;
  z-index: 1;
  background: #565656;
}

.d-links>li {
  /* min-height: 70px; */
  width: 100%;
  padding: 0;
  transition: height 0.5s;
  z-index: 1;
  background: #565656;
}

.d-links>li>a {
  /* border-radius: 4px; */
  height: 70px;
  width: 100%;
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0;
  color: #FFFFFF;
  z-index: 1;
}

.d-links:not(.db-links)>li>a:hover:not(.user),
.d-links>li>a.active:not(.user) {
  background: #FFFFFF;
  box-shadow: inset 7px 0px 0px #7BE77E;
  color: #565656;
}

.d-links:not(.db-links)>li>a:hover:not(.user) object,
.d-links>li>a.active:not(.user) object {
  /* filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%); */
  filter: brightness(0.34);
}

.d-links li a>span {
  width: 0;
}

.d-links li a p span {
  position: relative;
  padding-right: 15px;
}

.d-links li a.notification p span::after {
  content: url('/public/assets/images/icons/notification.svg');
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.d-links li a.user {
  font-size: 14px;
  line-height: 16px;
  margin: 8px 7px;
  border-radius: 4px;
  width: calc(100% - 14px);
  height: calc(100% - 16px);
  padding: 7px 0;
  transition: background 0.5s;
}

.d-links li:hover a.user {
  background: #6A6A6A;
}

.d-links li a>div {
  height: 100%;
  width: 60px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 35px;
  height: 35px;
  background: #C4C4C4;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profile-pic>img {
  width: 100%;
  height: auto;
}

.d-links li a.user p {
  position: relative;
}

.d-links li a.user p::after {
  content: url('/public/assets/images/icons/d-arrow.svg');
  display: block;
  position: absolute;
  right: 12px;
  top: 0%;
  transform: rotate(180deg);
  transition: transform 0.5s;
}

.d-links li a.user[aria-selected="true"] p::after {
  transform: rotate(0);
}

.d-links li a div object {
  width: auto;
}

.d-links li a p {}

.user-submenu {
  background: #FFFFFF;
  border-radius: 4px;
  /* padding: 11px 15px; */
  width: calc(100% - 14px);
  margin: auto;
  margin-bottom: 8px;
}

.user-submenu ul {
  list-style: none;
}

.user-submenu ul li {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 15px;
}

.user-submenu ul li a {
  color: #565656;
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
}

.db-links {
  position: absolute;
  bottom: 0;
  margin: 15px 0;
  background: #565656;
  /* width: 100%; */
}

.db-links li {
  padding: 0 6px;
}

.db-links li a {
  height: 40px;
  padding: 0 8px;
  border-radius: 4px;
}

.db-links li a div {
  width: 40px;
  min-width: 40px;
}

.db-links li a:hover {
  background: #6A6A6A;
}

.db-links li a:active {
  background: #8A8A8A;
}

.navigation-submenu {
  /* display: none; */
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  /* transform: translateX(200px); */
  min-height: 100vh;
  z-index: -1;
}

.navigation-submenu[aria-hidden="false"] {
  animation: slideRight 0.2s linear 1;
  z-index: -1;
}

/*
@keyframes slideRight {
  0% {

    transform: translateX(0);
  }

  100% {

    transform: translateX(200px) !important;
  }
}
*/
.navigation-submenu[aria-hidden="true"] {
  z-index: 0;
  animation: slideLeft 0.2s linear 1;
}

/*
@keyframes slideLeft {
  0% {

    transform: translateX(200px) !important;
  }
  100% {

    transform: translateX(0);
  }


} */
.navigation-submenu>ul {
  list-style: none;
  padding: 0;
  height: 100vh;
}

.navigation-submenu>ul>li {}

.navigation-submenu>ul>li>a {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #565656;
  height: 41px;
  display: flex;
  align-items: center;
  background: #D9D8D8;
  padding: 0 25px;
  margin-bottom: 1px;
}

.navigation-submenu>ul>li:nth-last-of-type(1)>a {
  margin-bottom: 0;
}

.navigation-block {}

.navigation-block ul {
  list-style: none;
}

.navigation-block ul>li {
  width: 100%;
  padding: 0;
  transition: height 0.5s;
  padding: 0 6px;
}

.navigation-block ul>li>a {
  height: 40px;
  width: 100%;
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 0;
  color: #565656;
}

.navigation-block ul>li>a>div {
  height: 100%;
  width: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.d-links li.open .navigation-submenu {
  display: block !important;
}

.block-submenu {
  /* display: none; */
  padding: 10px 0;
  /* min-height: calc(100vh - (42px*4) + 1px);
  max-height: calc(100vh - (42px*4) + 1px); */
  overflow-y: auto;
}

.block-submenu>ul>li>a {
  padding: 0 0 0 25px;
}

.navigation-submenu-dropdown {
  /* padding-left: 25px; */
}

.navigation-submenu-dropdown>ul>li a {
  border-radius: 4px;
  padding: 0 0 0 50px;
}

.block-submenu ul>li>a:hover,
.navigation-submenu-dropdown>ul>li a.active {
  background: rgba(123, 231, 126, 0.15);
}

.navigation-submenu-dropdown>ul>li {
  padding: 0;
}

.ui-dialog {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(calc(-50% + 5px), -50%);
  /* width: auto !important; */
  min-width: 780px;
  z-index: 1;
  padding: 0 20px;
}

.ui-dialog-titlebar,
.no-close .ui-dialog-titlebar-close {
  display: none;
}

.modal-overlay {
  /* content: ""; */
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  transition: all 400ms;
}

.search_modal {
  background: #FFFFFF;
  /* Shadow Outside */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 28px;
  /* width: 80%; */
  /* min-width: 780px; */
  max-height: 640px;
  z-index: 1;
}

.search_modal form {
  height: 35px;
  border: 1px solid #D9D8D8;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search_modal form input {
  height: 100%;
  padding: 0 0 0 10px;
  font-weight: normal;
  font-size: 14px;
  /* line-height: 19px; */
  letter-spacing: 0.05em;
}

.search_modal form button {
  height: 100%;
  width: auto;
  padding: 10px;
}

.search_modal form button object {
  width: 14px;
}

.s-hr {
  background: #D9D8D8;
  height: 0.9px;
  border: 0;
  width: 100%;
  margin: 10px 0;
}

.s-modal-block h1 {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #8A8A8A;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}

.s-modal-block ul {
  list-style: none;
  margin-bottom: 20px;
}

.s-modal-block ul:nth-last-of-type(1) {
  margin-bottom: 0;
}
.s-modal-block ul li{
  transition: background 0.3s;
border-radius: 4px;
}
.s-modal-block ul li:hover {
  background: rgba(123, 231, 126, 0.15);
}

.s-modal-block ul li a {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  color: #565656;
  padding-left: 10px;
}

.s-modal-block ul li a span {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #8A8A8A;
  margin: 0 5px;
}

.s-modal-block ul li a span:nth-of-type(1) {
  margin-left: 20px;
}

.s-modal-blocks-list {
  max-height: 320px;
  overflow-y: auto;
}

.content {
  padding: 28px 45px;
  /* max-height: 100vh; */
  /* overflow-y: auto; */
  position: relative;
  overflow-x: hidden;
  padding-bottom: 85px;
}

/* .s-hr{
  height: 0.9px;
  border: 0;
  margin: 10px 0;
  background:
} */
.gw-table {
    overflow-x: auto;
}
.gw-table table {
  /* min-width: 600px;
overflow-x: scroll; */
  border-collapse: collapse;
}

.gw-table thead {
  border: 0;
  border-bottom: 1px solid #8A8A8A;
}

.gw-table table.dataTable thead th span {
  position: relative;
  padding-right: 20px;
}

.gw-table table.dataTable thead th span::before {
  content: "";
  display: block;
  width: 9px;
  height: 6px;
  /* background: red; */
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url('/public/assets/images/icons/arrow-down.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(1) contrast(1);
}

.gw-table table.dataTable thead th span::after {
  content: "";
  display: block;
  width: 9px;
  height: 6px;
  /* background: red; */
  position: absolute;
  right: 0;
  top: 0;
  background-image: url('/public/assets/images/icons/arrow-down.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  filter: invert(1) contrast(1);
}

.gw-table table.dataTable thead th.sorting_desc span::before {
  filter: none;
}

.gw-table table.dataTable thead th.sorting_asc span::after {
  filter: none;
}

.gw-table th,
.gw-table td {
  width: auto;
  text-align: left;
  font-size: 13px;
  line-height: 38px;
  color: #565656;
  letter-spacing: 0.05em;
  padding: 0 10px;
}

.gw-table th {
  font-weight: bold;
  white-space:nowrap
}

.gw-table td {
  font-weight: normal;
  white-space:nowrap
}

.alt-rows tbody tr:nth-of-type(even) {
  background: #EFEFEF;
}

.menu-back-btn {
  display: none;
  height: 105px;
  align-items: center;
  padding-left: 42px;
  border-bottom: 1px solid #8A8A8A;
}

.menu-back-btn p {
  font-weight: normal;
  font-size: 19.9333px;
  line-height: 23px;
  /* Dark Gray */
  color: #565656;
  margin: 0;
  position: relative;
}

.menu-back-btn p::before {
  content: "";
  display: block;
  width: 9px;
  height: 12px;
  /* background: red; */
  position: absolute;
  left: -38px;
  top: 7px;
  background-image: url('/public/assets/images/icons/arrow-left.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(0deg);
  /* filter: invert(0.8) contrast(0.0); */
}

.block-back-btn {
  padding-left: 65px;
  border-top: 1px solid #8A8A8A;
  border-bottom: 0;
}

.block-back-btn p::before {
  width: 20px;
  height: 20px;
  top: 2px;
  background-image: url('/public/assets/images/icons/blocks.svg');
  background-size: contain;
  /* filter: invert(0.8) contrast(0.0); */
}

/* home page */
.fav {
  width: calc(100% + 2 * 12px);
  margin-left: -12px;
  margin-right: -12px;
}

.fav>div:nth-of-type(1) {
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 36%;
  padding-right: 12px;
  padding-left: 12px;
}

.fav>div:nth-of-type(2) {
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 64%;
  padding-right: 12px;
  padding-left: 12px;
}

.fav-item {
  margin: 30px 0;
}

.fav-item>div:nth-of-type(1) {
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 40%;
  padding-right: 12px;
  padding-left: 0;
}

.fav-item>div:nth-of-type(2) {
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 60%;
  padding-right: 0;
  padding-left: 12px;
}

.fav-item .object {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.not-item.unread {
  background: #FFFFFF;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.not-item.unread .img-side::before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  /* background: red; */
  position: absolute;
  left: 24px;
  top: -1px;
  /* transform: translate(-50%,-50%); */
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  background: #FFFFFF;
  z-index: 1;
}

.not-item.unread .img-side::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  /* background: red; */
  position: absolute;
  left: 25px;
  top: 0px;
  /* transform: translate(-50%,-50%); */
  background: #F3368D;
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  z-index: 1;
}

.not-item.unread+hr {
  background: transparent;
}

.not-item:nth-last-of-type(1)+hr {
  display: none;
}

.not-item {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  margin: 10px 0;
  border-radius: 4px;
  position: relative;
  /* border-bottom: 1px solid #D9D8D8; */
}

.not-item .img-side {
  width: 35px;
  position: relative;
}

.not-item .info-side {
  padding-left: 25px;
}

.not-item .info-side p {
  margin-bottom: 3px;
}

.time {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #D9D8D8;
}

.not-item>.time {
  width: auto;
  position: absolute;
  top: 15px;
  right: 15px;
}

.file-download {
  display: flex;
}

.file-download .img {
  width: 44px;
  height: 44px;
  background: #EFEFEF;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-download>div:nth-of-type(1) {
  margin-right: 15px;
}

.file-download>div p {
  margin-bottom: 8px !important;
}

.not-accordion .not-accordion-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.not-accordion .btn {
  height: 38px;
  background: #EFEFEF;
  border-radius: 4px;
  padding: 10px;
  width: auto;
  display: inline-block;
  width: auto;
  cursor: pointer;
}

.not-accordion span.dd {
  color: #8A8A8A;
  width: auto;
  padding-right: 20px;
  position: relative;
}

.not-accordion span.dd::after {
  content: "";
  display: block;
  width: 9px;
  height: 6px;
  /* background: red; */
  position: absolute;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
  background-image: url('/public/assets/images/icons/arrow-down.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(1) contrast(1);
}

.not-accordion-link {
  cursor: pointer;
}

.not-accordion-dropdown {
  padding-right: 35px;
}

.not-accordion-dropdown>div {
  background: #EFEFEF;
  border-radius: 4px;
  padding: 10px;
}

.not-accordion-dropdown {
  position: relative;
}

.not-accordion-dropdown .close {
  display: block;
  width: 20px;
  height: 20px;
  /* background: red; */
  position: absolute;
  right: -3px;
  bottom: 8px;
  transform: rotate(180deg);
  background-image: url('/public/assets/images/icons/arrow-down.svg');
  background-position: center;
  background-size: 10px auto;
  background-repeat: no-repeat;
  filter: invert(1) contrast(1);
  cursor: pointer;
}

/* .not-accordion-link[aria-expanded="true"]{
animation: slideUp 0.4s linear 1;
} */
/* .not-accordion-link[aria-expanded="true"]{
 animation: slideDown 0.4s linear 1;
} */
/* @keyframes slideUp {
  from{
    height: auto;
    opacity: 1;
  }
  to{
    height: 0;
    opacity: 0;
  }
} */
.edit-fav button span {
  margin-right: 12px;
}

.fav span.delete {
  display: none;
}

.fav .edit-fav .fav-item p {
  display: flex;
  align-items: center;
}

.fav .edit-fav .fav-item span.delete {
  display: block;
  background-image: url('/public/assets/images/icons/delete.svg') !important;
  background-position: right !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  min-width: 14px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-left: 14px;
  /* background: red; */
}

.fav .edit-fav select {
  height: 35px;
  width: calc(100% - 15px);
  margin-left: 15px;
  background: #FFFFFF;
  /* Dark White */
  border: 1px solid #D9D8D8;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #565656;
  padding: 0 10px;
}

.horizontal-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.horizontal-nav>div {
  width: auto;
  flex: auto;
}

.horizontal-nav a {
  padding: 10px 20px;
  height: 38px;
  background: #FFFFFF;
  border-radius: 4px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-nav a.active {
  background: rgba(123, 231, 126, 0.15);
}

.horizontal-nav a.add {
  background: #FFC468;
  border-radius: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  margin-left: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  width: 82px;
  min-width: 80px;
}

.horizontal-nav h1 {
  margin: 0;
  line-height: 38px;
}

.horizontal-nav>div:nth-of-type(1) {
  overflow-x: auto;
  overflow-y: hidden;
  /* padding: 0 40px; */
  cursor: pointer;
  white-space: nowrap;
  height: 38px;
}

.horizontal-nav>div:nth-of-type(1)>* {
  display: inline-block;
  width: auto;
  margin-right: 20px;
  white-space: initial;
}

.horizontal-nav>div:nth-of-type(1)>*:nth-last-of-type(1) {
  /* margin-right: 0; */
}

.horizontal-nav>div:nth-of-type(1)>a {
  transform: translateY(-4px);
}

.horizontal-nav>div:nth-of-type(1)::-webkit-scrollbar {
  height: 4px;
  width: 5px;
  border-radius: 5px;
  z-index: 2;
  /* background: green; */
  display: none;
}

.horizontal-nav>div:nth-of-type(1)::-webkit-scrollbar-thumb {
  height: 1px;
  width: 10px;
  border-radius: 5px 5px !important;
  /* background-color: red !important; */
  z-index: 2;
}

.horizontal-nav>div:nth-of-type(1):hover::-webkit-scrollbar {
  display: block;
}

.bread-crumbs a {
  padding-left: 0;
  padding-right: 25px;
  height: auto;
  transform: none;
}

.bread-crumbs a::after {
  content: "";
  display: block;
  width: 7.5px;
  height: 12px;
  /* background: red; */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/public/assets/images/icons/arrow-right.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bread-crumbs a.active {
  color: #D9D8D8;
  background: transparent;
}

.bread-crumbs a:nth-last-of-type(1) {
  margin-right: 0;
  padding-right: 0;
}

.bread-crumbs a:nth-last-of-type(1)::after {
  display: none;
}

.bread-crumbs .back {
  background: #D9D8D8;
  border-radius: 5px;
  width: 93px;
  height: 35px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.bread-crumbs object {
  margin-right: 10px;
}
.personel-info-form textarea,
.personel-info-form select,
.personel-info-form input {
  height: 35px;
  width: calc(100% - 0px);
  /* margin-left: 10px; */
  background: #FFFFFF;
  /* Dark White */
  border: 1px solid #D9D8D8;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #565656;
  padding: 0 10px;
  /* flex: 34%;
width: 34%;
max-width: 34%; */
}
.personel-info-form textarea{
  height: 77px;
  padding: 10px;
}
.personel-info-form .form-field div {
  margin: 0 5px;
}

.personel-info-form .form-field>div>div {
  margin: 0;
  margin-top: 10px;
}

.personel-info-form .form-field>div>div:nth-of-type(1) {
  margin-top: 0;
}

.personel-info-form .form-field>div>div>div:nth-of-type(1) {
  margin-left: 0;
  max-width: 100px;
}

.personel-info-form .form-field>div>div>div:nth-of-type(2) {
  margin-right: 0;
}

.personel-info-form .form-field>div:nth-of-type(1) {
  text-align: right;
}

.personel-info-form .form-field label {
  text-align: right;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #565656;
  /* flex: 32%;
width: 32%;
max-width: 32%; */
}

.personel-info-form .form-field {
  max-width: 800px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex: auto;
  margin: 20px 0;
}

.personel-info-form .form-field:nth-last-of-type(1) {
  margin-bottom: 0;
}

.form-field.file-field {}

.form-field.file-field button {
  max-width: 199px;
  height: 35px;
  background: #D9D8D8;
  border-radius: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #565656;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-field.file-field button object {
  margin-left: 13px;
}

.form-field.submit-field {
  text-align: right;
  width: 100%;
  max-width: none;
  justify-content: flex-end;
}

.form-field.submit-field button {
  max-width: 199px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.form-field.submit-field button object {
  margin-left: 13px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  width: calc(100% + 24px);
  align-items: center;
  justify-content: flex-start;
}

.cards>div {
  min-width: 190px;
  min-height: 162px;
  max-width: 190px;
  max-height: 162px;
  padding: 10px;
  display: flex;
  align-items: stretch;
}

.cards>div>div {
  /* width: 100%;
  min-height: 100%; */
  background: #FFFFFF;
  /* Shadow Outside */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 28px;
}

.cards p {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #565656;
  margin-bottom: 13px;
}

.cards h1 {
  font-weight: normal;
  font-size: 45px;
  line-height: 53px;
  letter-spacing: 0.05em;
  color: #565656;
}

.cards .red h1 {
  color: #F3368D;
}

.norm-rows tbody tr {
  border-bottom: 1px solid #EFEFEF;
}

table .color {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
}

.dataTables_length label {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #565656;
}

.dataTables_length label {
  display: flex;
  align-items: center;
}

.dataTables_length label select {
  width: 108px;
  height: 35px;
  background: #FFFFFF;
  /* Dark White */
  border: 1px solid #D9D8D8;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 10px;
}

.dataTables_filter input {
  border: 1px solid #D9D8D8;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 10px;
  width: 203px;
  height: 35px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #565656;
}

.dataTables_filter,
.dataTables_length {
  display: inline-block;
  width: 50%;
  margin-bottom: 30px;
}

.dataTables_filter {
  text-align: right;
}

.dataTables_paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.dataTables_paginate .paginate_button {
  background: #D9D8D8;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #565656;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
}

.dataTables_paginate .paginate_button.disabled {
  color: #EFEFEF;
  pointer-events: none;
}

.dataTables_paginate .first,
.dataTables_paginate .last {
  display: none !important;
}

.dataTables_paginate span {
  display: block;
  width: auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #565656;
}

.tag {
  display: inline-block;
  width: 33px;
  height: 25px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: -8px;
  padding: 5px 0;
}

.tag.b4e {
  background: #EA4C4D;
}

.tag.b4s {
  background: #1364AC;
}

.tag.wd {
  background: linear-gradient(313.52deg, #D7641F 49.37%, #0092DB 49.38%);
}

.tag.m20 {
  background: #112072;
}

.tag.mb {
  background: #000000;
}

.f-select:hover,
.f-select:focus,
.f-select {
  background: #FFFFFF;
  border: 1px solid #D9D8D8;
  box-sizing: border-box;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  padding: 0 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #565656;
}

.f-accordion {
  list-style: none;
  padding: 0;
}
.f-accordion li>div{
  padding: 10px;
}
.f-accordion .link {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  min-height: 45px;
}

.f-accordion .link span {
  display: none;
}

.f-accordion .link::before {
  content: "";
  width: 11px;
  height: 1.6px;
  background: #565656;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.f-accordion .link::after {
  content: "";
  width: 1.6px;
  height: 11px;
  background: #565656;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-4.65px, -50%);
  opacity: 1;
  transition: opacity 0.3s;
}

.f-accordion .link[aria-expanded="true"]::after {
  opacity: 0;
}

.f-accordion li {
  border: 1px solid #D9D8D8;
  box-sizing: border-box;
  border-radius: 5px;
  background: #FFFFFF;
  margin-bottom: 20px;
}

.f-accordion li:nth-last-of-type(1) {
  margin-bottom: 0;
}

.f-cards {}

.f-cards .card {}

.error input {
  border: 1px solid #F3368D;
  box-sizing: border-box;
  border-radius: 5px;
}

.error {
  position: relative;

}



.error::before {
  content: "Input Error";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 20px);
  height: 19px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #F3368D;
  background: #FFFFFF;
  cursor: pointer;

}
.error::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/public/assets/images/icons/cross-r.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
z-index: 1;
}


footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 90px);
}

footer {}
footer p,
footer a{
  font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #8A8A8A !important;
/* display: flex;
align-items: center;
justify-content: center; */
}
footer p>*{
  display: inline-block;
}
footer object{
  margin: 0 5px;
  transform: translateY(2px);
}
footer ul{
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer ul li{
  padding: 0 24px;
  width: auto;
  border-right: 1px solid #8A8A8A;
}
footer ul li:nth-of-type(1){
  padding-left: 0;
}
footer ul li:nth-last-of-type(1){
  border-right: 0;
  padding-right: 0;
}
.ui-datepicker,
.ui-timepicker-container{

  position: absolute;
  max-height: 225px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #FFFF;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
  border-radius: 5px;
  /* padding: 10px; */
}
.ui-timepicker-container ul{
  padding: 0 10px;
  list-style: none;
}
.ui-timepicker-container ul li{
width: 100% !important;
}
.ui-timepicker-container li a{
  display: block;
  padding: 10px;
}
.ui-timepicker-container #ui-active-item{
  background: rgba(123, 231, 126, 0.15);
  border-radius: 4px;
}
.ui-datepicker{
  width: 250px;
  max-height: none;
}
.ui-datepicker table{
table-layout: fixed;
padding: 10px;
}
.ui-datepicker thead th{
text-align: center;
font-size: 16px;
font-weight: 400;
}
.ui-datepicker tbody td{
  font-size: 12px;
  height: 26px;
  text-align: center;
}
.ui-datepicker a.ui-state-active{
  background: rgba(123, 231, 126, 0.15);
  border-radius: 4px;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui-datepicker .ui-datepicker-today a{
  color: #39f;
}
.ui-datepicker-header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: rgba(123, 231, 126, 0.15);
}
.ui-datepicker-title{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
}
.ui-datepicker-header a{
  width: auto;
}
input.timepicker{
  background-image: url('/public/assets/images/icons/time.svg') !important;
      background-position: calc(100% - 14px) center !important;
      background-size: 15px !important;
      background-repeat: no-repeat !important;
}
input.datepicker{
  background-image: url('/public/assets/images/icons/calendar.svg') !important;
      background-position: calc(100% - 14px) center !important;
      background-size: 13px !important;
      background-repeat: no-repeat !important;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}



input[type="checkbox"]+label{
  display: block;
  background: #FFFFFF;
/* Dark White */

border: 1px solid #D9D8D8;
width: 20px;
height: 20px;
cursor: pointer;
transform: translateY(5px);

}
input[type="checkbox"]:checked+label{
  background-image: url('/public/assets/images/icons/check.svg') ;
      background-position: 2px center;
      background-size: 80% ;
      background-repeat: no-repeat;
}
input[disabled]{
  background: #EFEFEF;
/* Dark White */

border: 1px solid #D9D8D8;
color: #D9D8D8;
cursor: auto;
}
