<div class="bg-sec mt-10">
    <h1 class="s-title">Additional Information</h1>
    <hr class="s-hr mt-20 mb-20">

    <div class="form-field row">
        <div class="col-md-4 col-sm-4">
            {{ form_label(form.birthDate) }}
        </div>
        <div class="col-md-4 col-sm-8 col-12">
            {{ form_widget(form.birthDate) }}
            {{ form_errors(form.birthDate) }}
        </div>
    </div>

    <div class="form-field row">
        <div class="col-md-4 col-sm-4">
            {{ form_label(form.hireDate) }}
        </div>
        <div class="col-md-4 col-sm-8 col-12">
            {{ form_widget(form.hireDate) }}
            {{ form_errors(form.hireDate) }}
        </div>
    </div>

    <div class="form-field row">
        <div class="col-md-4 col-sm-4">
            {{ form_label(form.address) }}
        </div>
        <div class="col-md-4 col-sm-8 col-12">
            {{ form_widget(form.address) }}
            {{ form_errors(form.address) }}
        </div>
    </div>

    <div class="form-field row">
        <div class="col-md-4 col-sm-4">
            {{ form_label(form.plz) }}
        </div>
        <div class="col-md-4 col-sm-8 col-12">
            {{ form_widget(form.plz) }}
            {{ form_errors(form.plz) }}
        </div>
    </div>

    <div class="form-field row">
        <div class="col-md-4 col-sm-4">
            {{ form_label(form.country) }}
        </div>
        <div class="col-md-4 col-sm-8 col-12">
            {{ form_widget(form.country) }}
            {{ form_errors(form.country) }}
        </div>
    </div>

    <div class="form-field row">
        <div class="col-md-4 col-sm-4">
            {{ form_label(form.city) }}
        </div>
        <div class="col-md-4 col-sm-8 col-12">
            {{ form_widget(form.city) }}
            {{ form_errors(form.city) }}
        </div>
    </div>

    <div class="form-field row">
        <div class="col-md-4 col-sm-4">
            {{ form_label(form.phoneNumber) }}
        </div>
        <div class="col-md-4 col-sm-8 col-12">
            {{ form_widget(form.phoneNumber) }}
            {{ form_errors(form.phoneNumber) }}
        </div>
    </div>

    <div class="form-field row">
        <div class="col-md-4 col-sm-4">
            {{ form_label(form.phoneNumberMobile) }}
        </div>
        <div class="col-md-4 col-sm-8 col-12">
            {{ form_widget(form.phoneNumberMobile) }}
            {{ form_errors(form.phoneNumberMobile) }}
        </div>
    </div>

    <div class="form-field row">
        <div class="col-md-4 col-sm-4">
            {{ form_label(form.slackTeamId) }}
        </div>
        <div class="col-md-4 col-sm-8 col-12">
            {{ form_widget(form.slackTeamId) }}
            {{ form_errors(form.slackTeamId) }}
        </div>
    </div>

    <div class="form-field row">
        <div class="col-md-4 col-sm-4">
            {{ form_label(form.slackUserId) }}
        </div>
        <div class="col-md-4 col-sm-8 col-12">
            {{ form_widget(form.slackUserId) }}
            {{ form_errors(form.slackUserId) }}
        </div>
    </div>

    <div class="form-field row">
        <div class="col-md-4 col-sm-4">
            {{ form_label(form.jobDescription) }}
        </div>
        <div class="col-md-4 col-sm-8 col-12">
            {{ form_widget(form.jobDescription) }}
            {{ form_errors(form.jobDescription) }}
        </div>
    </div>
</div>
<script>
    $('.datepicker').datepicker({
        dateFormat: 'dd.mm.yy'
    });
</script>