{% extends 'base.html.twig' %}

{% block title %}DigtX - Invinit: User Details{% endblock %}

{% block content %}
        {{ form_start(form) }}
            <section>
                <div class="scroll-items horizontal-nav product-nav">
                    <h1 class="s-title">User Management</h1>

                    <a class="f-ttext active"
                       type="button"
                       href="{{ path('app_admin_user_management_edit_detail', {'userId': userId}) }}">
                        User Details
                    </a>
                </div>

                <hr class="s-hr mt-10 mb-30">

                <div class="horizontal-nav bread-crumbs mb-20">
                    <div class="scroll-item">
                        <a href="{{ path('home') }}">Home</a>

                        <a class="active">Edit: {{ form.vars.value.name }} {{ form.vars.value.lastName }}</a>
                    </div>

                    <div class="d-flex align-items-center justify-content-end">
                        <button class="back" type="submit">
                            <object data="{{ asset('assets/images/icons/arrow-left-long.svg') }}" type="image/svg+xml">
                                your browser does not support svg
                            </object>
                            Save & Back
                        </button>
                    </div>
                </div>

                <div class="personel-info-form">
                    <div class="bg-sec">
                        <h1 class="s-title">Details</h1>
                        <hr class="s-hr mt-20 mb-20">

                        <div class="form-field row">
                            <div class="col-md-4 col-sm-4">
                                {{ form_label(form.name) }}
                            </div>
                            <div class="col-md-4 col-sm-8 col-12">
                                {{ form_widget(form.name) }}
                                {{ form_errors(form.name) }}
                            </div>
                        </div>

                        <div class="form-field row">
                            <div class="col-md-4 col-sm-4">
                                {{ form_label(form.lastName) }}
                            </div>
                            <div class="col-md-4 col-sm-8 col-12">
                                {{ form_widget(form.lastName) }}
                                {{ form_errors(form.lastName) }}
                            </div>
                        </div>

                        <div class="form-field row">
                            <div class="col-md-4 col-sm-4">
                                {{ form_label(form.gender) }}
                            </div>
                            <div class="col-md-4 col-sm-8 col-12">
                                {{ form_widget(form.gender) }}
                                {{ form_errors(form.gender) }}
                            </div>
                        </div>

                        <div class="form-field row">
                            <div class="col-md-4 col-sm-4">
                                {{ form_label(form.email) }}
                            </div>
                            <div class="col-md-4 col-sm-8 col-12">
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>

                        <div class="form-field row file-field">
                            <div class="col-md-4 col-sm-5">
                                {{ form_label(form.profilePicture) }}
                            </div>
                            <div class="col-md-3 col-sm-5 col-10">
                                {{ form_widget(form.profilePicture, {'attr': {'class': 'upload-btn'}}) }}
                                {{ form_errors(form.profilePicture) }}
                            </div>
                        </div>
                    </div>

                    {% include '/registration/user_details_additional.html.twig' %}

                    <div class="d-flex justify-content-end">
                        <button class="g-btn d-flex align-items-center justify-content-center" type="submit">
                            Save
                            <object class="ml-10" data="{{ asset('assets/images/icons/save-w.svg') }}" type="image/svg+xml">your broswser does not support svg</object></button>
                    </div>
                </div>
            </section>
        {{ form_end(form) }}
{% endblock %}