{# templates/form/field/file_widget.html.twig #}
{% extends 'base.html.twig' %}

{% block file_widget %}
    <div class="{% if file_container_css is not null %} {{ file_container_css }} {% endif %}">
        {{ block('form_widget') }}
    </div>
    {% if file_url is not null %}
        <div class="{% if preview_container_css is not null %} {{ preview_container_css }} {% endif %}">
            <small>
                <a class="image-preview" href="{{ asset('uploads/images/' ~ file_url) }}">
                    {{  file_name }}
                    <span class="image-preview-container">
                        <img class="image" src="{{ asset('uploads/images/' ~ file_url) }}">
                    </span>
                </a>
            </small>
        </div>
    {% endif %}
{% endblock %}