{% block list_view_widget %}
    <turbo-frame id="{{ form.vars.unique_block_prefix }}"
                 data-list-view-target="turboFrame"
                 data-turbo="true"
                 loading="lazy"
                 class="list-view"
                 data-controller="list-view">
        {% if turbo_src %}
            {{ form_start(form, {'attr': {'action': turbo_src}}) }}
        {% else %}
            {{ form_start(form) }}
        {% endif %}
        <div class="gw-table {% if cardboard -%} bg-sec {%- endif %} mt-10">
            <div class="frame-loading-hide">
                {% if title %}
                    <div class="d-flex align-items-start justify-content-between">
                        <h1 class="s-title">{{ title }}</h1>

                        {% if allow_add %}
                            {% set properties = [] %}
                            {% if add_btn_path.properties is defined %}
                                {% for property, key in add_btn_path.properties %}
                                    {% set properties = properties | merge({ (property) : key}) %}
                                {% endfor %}
                            {% endif %}
                            <a class="o-btn w-auto list-view-add-btn text-nowrap"
                               href="{{ path(add_btn_path.name, properties) }}"
                               data-turbo="false">
                                {{ add_btn_label }}
                            </a>
                        {% endif %}
                    </div>

                    <hr class="s-hr mb-15">
                {% endif %}

                {% if not title and allow_add %}
                    <div class="d-flex align-items-start justify-content-end mb-30">
                        {% set properties = [] %}
                        {% if add_btn_path.properties is defined %}
                            {% for property, key in add_btn_path.properties %}
                                {#                                    @TODO: fix 'entry not defined' #}
                                {% set properties = properties | merge({ (property) : key}) %}
                            {% endfor %}
                        {% endif %}
                        <a class="o-btn w-auto list-view-add-btn text-nowrap"
                           href="{{ path(add_btn_path.name, properties) }}"
                           data-turbo="false">
                            {{ add_btn_label }}
                        </a>
                    </div>
                {% endif %}

                {% if form.children | length > 0 %}
                    <div class="list-view-filter-container">
                        {% for filter in form.children %}
                            <div class="list-view-filter-box"
                                 data-action="
                                        autocomplete-dropdown:async:submitted->list-view#autoSubmit
                                        datepicker:change->list-view#autoSubmit"
                                 style="flex-basis: {{ filter.vars.width }}">
                                {{ form_widget(filter) }}
                            </div>
                        {% endfor %}
                    </div>

                    <hr class="s-hr mb-30">
                {% endif %}

                {% if allow_limit or allow_search %}
                    <div class="list-view-table-bar">
                        {% if allow_limit %}
                            <div class="page-limiter">
                                <span>Show</span>
                                <select class="select"
                                        name="{{ form.vars.name }}_list_view_page_limiter"
                                        id="list_view_page_limiter"
                                        data-action="list-view#submit">
                                    {% for pageLimit in pagination.limits.list %}
                                        <option value="{{ pageLimit }}"
                                                {% if pageLimit == list_view_page_limiter %} selected {% endif %}>
                                            {{ pageLimit }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <span>entries</span>
                            </div>
                        {% endif %}
                        {% if allow_search %}
                            <div class="search-bar">
                                <input type="search"
                                       class="search"
                                       placeholder="Search"
                                       name="{{ form.vars.name }}_list_view_search"
                                       id="{{ form.vars.unique_block_prefix }}_list_view_search"
                                       data-turbo-permanent
                                       autofocus
                                       data-action="list-view#searchTrigger"
                                       value="{{ list_view_search }}">
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                <table class="norm-rows thead-text-wrap">
                    <thead>
                    <tr>
                        {% set col = (12 / (columns | length)) | round %}
                        {% for column in columns %}
                            {% if column is iterable %}
                                <th style="width: {{ column['width'] ?? 'auto'}}">{{ column.name }}</th>
                            {% else %}
                                <th>{{ column }}</th>
                            {% endif %}
                        {% endfor %}
                        {% if allow_edit or allow_remove or custom_actions | length > 0 %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in form.vars.value %}
                        <tr>
                            {% for key, column in columns %}
                                {% if key == 'status' %}
                                    {% if entry[key] == 1 %}
                                        <td>
                                            <span class="color" style="background:#7BE77E;"></span>
                                        </td>
                                    {% else %}
                                        <td>
                                            <span class="color" style="background:#EA4C4D;"></span>
                                        </td>
                                    {% endif %}
                                {% elseif entry[key].timestamp is defined %}
                                    {% if entry[key].timestamp | date('His') > 0 %}
                                        <td>{{ entry[key] | date("d.m.Y H:i:s")}}</td>
                                    {% else %}
                                        <td>{{ entry[key] | date("d.m.Y")}}</td>
                                    {% endif %}
                                {% elseif column is iterable %}
                                    {% if column['callback'] is defined %}
                                        <td>
                                            {{ callback(column['callback'], {'form': form, 'data': entry}) | raw }}
                                        </td>
                                    {% else %}
                                        <td>{{ entry[key] }}</td>
                                    {% endif %}
                                {% else %}
                                    <td>{{ entry[key] }}</td>
                                {% endif %}
                            {% endfor %}
                            {% if allow_edit or allow_remove or custom_actions | length > 0 %}
                                <td>
                                    <div class="actions" data-turbo="false">
                                        {% if allow_edit %}
                                            {% set properties = [] %}
                                            {% if edit_btn_path.properties is defined %}
                                                {% for property, key in edit_btn_path.properties %}
                                                    {% set properties = properties | merge({ (property) : entry[key]}) %}
                                                {% endfor %}
                                            {% endif %}
                                            <a class="p-btn" href="{{ path(edit_btn_path.name, properties) }}">Edit</a>
                                        {% endif %}
                                        {% if allow_remove %}
                                            {% set properties = [] %}
                                            {% if edit_btn_path.properties is defined %}
                                                {% for property, key in remove_btn_path.properties %}
                                                    {% set properties = properties | merge({ (property) : entry[key]}) %}
                                                {% endfor %}
                                            {% endif %}
                                            <a class="r-btn" href="{{ path(remove_btn_path.name, properties) }}">Remove</a>
                                        {% endif %}
                                        {% for custom_action in custom_actions %}
                                            {% set properties = [] %}
                                            {% if custom_action.properties is defined %}
                                                {% for property, key in custom_action.properties %}
                                                    {% set properties = properties | merge({ (property) : entry[key]}) %}
                                                {% endfor %}
                                            {% endif %}
                                            {% if custom_action['callback'] is defined %}
                                                {{ callback(custom_action['callback'], {'form': form, 'data': entry}) | raw }}
                                            {% else %}
                                                <a class="{{ custom_action.class }}"
                                                   href="{{ path(custom_action.path, properties) }}">
                                                    {{ custom_action.btn_name }}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    {% if (form.vars.value | length) == 0 %}
                        <tr>
                            <td colspan="{% if allow_edit or allow_remove or custom_actions | length > 0 %}
                                             {{ (columns | length) + 1 }}
                                             {% else %}
                                             {{ columns | length }}
                                             {% endif %}" class="no-data">
                                <span>No data to show</span>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

                <div class="pagination" data-turbo="true">
                    <div class="prev">
                        {% if list_view_current_page > 1 %}
                            <button type="submit" data-action="list-view#prev">
                                <span class="arrow-back"></span>
                            </button>
                        {% endif %}
                    </div>
                    <div class="pages">
                        <input name="{{ form.vars.name }}_list_view_current_page"
                               id="list_view_current_page"
                               data-action="list-view#searchTrigger"
                               value="{{ list_view_current_page }}">
                        <span>/</span>
                        <span class="page-max">
                            {{ list_view_page_count }}
                        </span>
                    </div>
                    <div class="next">
                        {% if list_view_current_page <= list_view_page_count - 1 %}
                            <button type="submit" data-action="list-view#next">
                                <span class="arrow-forward"></span>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="frame-loading-show">
                {#                    @TODO: Fully implement list view loader template#}
                {#                    {{ include('form/list-view-loader.html.twig', {'entries': form.vars.value | length}) }}#}
                <div class="turbo-loader">
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </turbo-frame>
{% endblock %}