{% extends 'base.html.twig' %}

{% block status_toggle_widget %}
    <div class="form-slide-btn-field">
        <input type="checkbox"
               id="{{ form.vars.full_name }}"
               hidden
               name="{{ form.vars.full_name }}"
               {% if form.vars.data == 1 %} checked {% endif %}>
        <label for="{{ form.vars.full_name }}"></label>
    </div>
{% endblock %}