.dx-accordion-list {

    .dx-accordion-list-item {
        list-style: none;
        margin-bottom: 20px;
        border-top: 1px solid #D9D8D8;
        padding-top: 20px;

        &:first-child {
            border: none;
            padding-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .dx-accordion {

            &[aria-expanded="true"] {

                .dx-accordion-header {

                    &::before {
                        transform: translateY(-50%) rotateZ(-180deg);
                    }

                    &::after {
                        opacity: 0;
                        transform: translate(-4.65px, -50%) rotateZ(-270deg);
                    }

                }

                .dx-accordion-body {
                    border-top: 1px solid #D9D8D8;
                    margin-top: 20px;
                    padding-top: 20px;
                }

            }

            &[aria-expanded="false"] {
                .dx-accordion-body {
                    max-height: 0;
                    transition: max-height ease-out 0.3s, margin-top linear 0s 0.3s, border linear 0s 0.3s, padding-top linear 0s 0.3s;

                    .dx-accordion-content {
                        opacity: 0;
                        transition: all linear 0.3s;
                    }
                }
            }

            .dx-accordion-header {

                position: relative;

                &:hover {
                    cursor: pointer;
                }

                &::before {
                    content: "";
                    width: 22px;
                    height: 1.6px;
                    background: #565656;
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                    transition: all 0.3s;
                }

                &::after {
                    content: "";
                    width: 1.6px;
                    height: 22px;
                    background: #565656;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translate(-4.65px, -50%);
                    opacity: 1;
                    transition: all 0.3s;
                }

                .dx-accordion-title {
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 29px;
                    color: #565656;
                }
            }

            .dx-accordion-body {
                border-top: 0px solid #D9D8D8;
                transition: max-height ease-in 0.3s;
                max-height: 10000px;
                overflow: hidden;

                .dx-accordion-content {
                    opacity: 1;
                    transition: all ease-in 0.3s;
                    padding: 0 15px;
                }
            }
        }
    }
}
