
.list-view-add-btn,
.list-view-add-btn:hover,
.list-view-add-btn:active {
    margin: 0;
    padding: 0 15px;
    box-sizing: content-box;
}

.list-view-filter-container {
    padding: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    color: #565656;
    font-size: 14px;
}

.list-view-filter-container .list-view-filter-box {
    padding: 0 10px 0 0;
    margin-bottom: 20px;
}

.list-view-filter-container .list-view-filter-box:last-child {
    padding-right: 0;
}

.list-view-filter-container .list-view-filter-box input {
    border: 1px solid #D9D8D8;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 10px;
    height: 35px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #565656;
    margin-top: 10px;
    margin-left: 0;
}

.page-limiter span {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #565656;
}

.page-limiter .select {
    width: 108px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #D9D8D8;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 10px;
}

.list-view-table-bar {
    display: flex;
    margin-bottom: 30px;
}

.list-view-table-bar .search-bar {
    display: flex;
    width: 33%;
}

.list-view-table-bar .search-bar .search {
    border: 1px solid #D9D8D8;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 10px;
    height: 35px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #565656;
}

.list-view-table-bar .search-bar .search-btn {
    margin: 0 0 0 15px;
}

.no-data span {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    margin: 20px auto;
    text-align: center;
    color: #565656;
}

.pagination button {
    padding: 10px;
    border-radius: 5px;
    max-width: 60px;
}

.pagination .prev,
.pagination .next {
    min-width: 40px;
}

.pagination .pages {
    font-size: 14px;
    font-weight: normal;
    min-width: 150px;
}

.pagination .pages input {
    width: 50px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #D9D8D8;
    margin: 0 10px;
    height: 35px;
}

.pagination .pages .page-max {
    padding: 5px 10px;
    margin: 0 10px;
}

@media (max-width: 1023px) {
    .list-view-filter-container {
        flex-flow: column wrap;
    }
}

.arrow-forward {
    background: url("/public/assets/images/icons/arrow forward.svg") no-repeat center;
    background-size: contain;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}

.arrow-back {
    background: url("/public/assets/images/icons/arrow back.svg") no-repeat center;
    background-size: contain;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
}


