
.ts-wrapper {

    &.dropdown-active {
        .ts-control {
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-bottom: 0 !important;
        }
    }

    &.multi {
        .ts-control {
            border-radius: 5px;
            padding: 2px 10px 0 10px !important;
            margin-top: 10px;
            box-shadow: none;
            min-height: 35px;

            .item {
                width: auto;
                background: #8A8A8A;
                border: #FFFFFF;
                text-shadow: none;
                padding: 3px 15px 2px 15px;
                max-height: 28px !important;

                .remove {
                    width: 25px;
                    height: 100%;
                    border: none;
                    font-size: 1.4em;
                    margin-right: 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background: #D9D8D8;
                    }

                    img {
                        width: 100%;
                    }
                }
            }

            input[role=combobox] {
                width: auto;
                margin: auto !important;
                max-height: 22px !important;
            }
        }

        &.has-items {
            .ts-control {
                padding: 2px 10px 0 2px !important;

                input[role=combobox] {
                    width: auto;
                    margin: 0 4px !important;
                    max-height: 28px !important;
                }
            }
        }

        .ts-dropdown {
            color: #565656;
            margin: 0 !important;

            .ts-dropdown-content {
                list-style: none;
                background: #FFFFFF;
                line-height: 2.5em;
                margin: 0 !important;
                padding: 5px;
                width: inherit;
                padding-top: 10px;
                border-top: none;
                border-radius: 0 0 5px 5px;
                z-index: 1000;
                font-size: 14px;

                .option {
                    border-top: 1px solid #FAFAFA;
                    padding: 10px;
                    color: #565656;

                    &.active {
                        background: #FAFAFA;
                    }

                    &:hover {
                        background: #FAFAFA;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}