
turbo-frame {
    display: block;
    position: relative;
}

turbo-frame .frame-loading-hide {
    z-index: -1;
}

turbo-frame .frame-loading-show {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    border-radius: 5px;
    display: flex;
}

turbo-frame .frame-loading-show {
    visibility: hidden;
}

turbo-frame[busy] .frame-loading-show {
    transition: visibility 0.5s ease-in 0.3s;
    visibility: unset;
}

.frame-loading-show .turbo-loader {
    border-radius: 5px;
    display: block;
    background: url('/public/assets/images/digt_logo_loader.gif') center/50px no-repeat,
    radial-gradient(2000px circle at center, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.6) 80%) center/100% no-repeat;
}

.frame-lazy-loading-container {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 28px;
    margin-top: 10px;

    min-height: 390px;
}

.frame-lazy-loading-background {
    min-height: 390px;

    border-radius: 8px;
    display: block;
    background: url('/public/assets/images/digt_logo_loader.gif') center/50px no-repeat,
    radial-gradient(2000px circle at center, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.6) 80%) center/100% no-repeat;
}

.dx-list-view-loader-container {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 26px;

    position: relative;
    overflow: hidden;
}

.dx-list-view-loader-container::after {
    top: 0;
    left: 0;
    border-radius: 8px;
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, color-stop(rgba(255, 255, 255, 0.2)), to(transparent));
    background: linear-gradient(90deg, transparent 10%, rgba(255, 255, 255, 36.5) 20%, transparent 30%);
    animation: animateBg 1.4s infinite linear;
}

.dx-list-view-loader-header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    box-sizing: content-box;
    border-bottom: 1px solid #D9D8D8;
}

.dx-list-view-loader-title {
    width: 400px;
    height: 19px;
}

.dx-list-view-loader-add-btn {
    width: 140px;
    height: 40px;
}

.dx-list-view-loader-body {
    height: auto;
}

.dx-list-view-loader-filter-bar {
    margin-top: 30px;
    padding-bottom: 28px;
    border-bottom: 1px solid #D9D8D8;
}

.dx-list-view-loader-filter {
    height: 40px;
}

.dx-list-view-loader-search-bar {
    height: 40px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.dx-list-view-loader-page-limit {
    height: 100%;
    width: 108px;
    margin-left: 55px;
}

.dx-list-view-loader-search {
    width: 290px;
    height: 40PX;
}

.dx-list-view-loader-entries {
    box-sizing: content-box;
    border-top: 1px solid #D9D8D8;
}

.dx-list-view-loader-entry {
    height: 19px;
    margin: 13px 0;
    display: inline-block;
}

@-webkit-keyframes animateBg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes animateBg {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.dx-shiny-loading-bar {
    background: #f6f6f6;
    border-radius: 5px;
}