<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/logo-symbol-only-black.svg') }}">

    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        <!-- Renders app.js & a webpack runtime.js file
            <script src="/build/runtime.js" defer></script>
            <script src="/build/app.js" defer></script>
            See note below about the "defer" attribute -->
    {% endblock %}
    <title>DigtX - Login</title>
</head>

<body class="flex-column">

<nav class="d-flex align-items-cetner justify-content-between">
    <div class="">
        <div class="brand">
            <object data="assets/images/logo-s.svg" type="image/svg+xml" >your broswser does not support svg</object>
        </div>
        <ul>
            <li>
                <a href="#">Retain & Grow</a>
            </li>
            <li>
                <a href="#">Promote & Sell</a>
            </li>
            <li>
                <a href="#">Create & Distribute</a>
            </li>
        </ul>
    </div>
    <div class="">
        <ul>
            <li class=""> <a class="d-flex align-items-center justify-content-center" href="#">Menu
                    <object data="assets/images/icons/hamburg-menu-n.svg" type="image/svg+xml" >your broswser does not support svg</object>

                </a> </li>
        </ul>
    </div>
</nav>



<main class="login-sec">
    <div class="login-div">
        <div class="login-brand">
            <object data="assets/images/logo.svg" type="image/svg+xml" >your broswser does not support svg</object>
        </div>
        <h1>Login</h1>
        <form class="" action="{{ path('login') }}" method="post">
            <button class="google-login" type="button">
                <span class="icon"></span>
                <a class="btn-text" href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
                    <span>Sign in with Google</span>
                </a>
            </button>

            <hr>

            <input type="text" name="_username" placeholder="Email" class="mt-15">
            <input type="password" name="_password" placeholder="Password">
            <button type="submit">Login</button>
            {% if error %}
                <div class="invalid-feedback">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <a href="#">Password forgotten?</a>

        </form>

        <div class="login-div-footer">
            <a href="#">Probleme?</a>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script> -->
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" type="text/javascript">

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<script src="assets/js/main.js" type="text/javascript">

</script>





</body>

</html>
