{% extends 'base.html.twig' %}

{% block content %}
  {% include 'layout/_card.html.twig' %}

  {# Use 'form_widget' instead of 'form' otherwise the form gets generated outside of the turbo-frame and it won't Work #}
  {{ form_widget(list) }}

{% endblock %}
