{% block _product_form_productPriceTables_entry_widget %}
    <tr class="d-flex">
        <td class="col-md-4 col-4">
            {{ form_widget(form.priceKey) }}
        </td>
        <td class="col-md-2 col-4">
            {{ form_widget(form.valueExclVat, {
                'attr': {
                    'data-action': 'Work--D01-Digt-AG--invinit--product--price-table#calcInclVat',
                    'class': 'price-excl-vat'
                }
            }) }}
        </td>
        <td class="col-md-2 col-4">
            {{ form_widget(form.valueInclVat, {
                    'attr': {
                        'class': 'price-incl-vat disabled'
                    }
                })
            }}
        </td>
        <td class="col-md-2 col-4">
            {{ form_widget(form.currency) }}
        </td>
    </tr>
{% endblock %}