<div class="bg-sec mt-30">
    <ul class="dx-accordion-list">
        {% for panel in panels %}
            <li class="dx-accordion-list-item">
                <accordion class="dx-accordion" data-controller="accordion" aria-expanded="false">
                    <div class="dx-accordion-header">
                        <h1 class="dx-accordion-title">{{ panel.title }}</h1>
                    </div>

                    <div class="dx-accordion-body">
                        <div class="dx-accordion-content">
                            {{ panel.body | raw }}
                        </div>
                    </div>
                </accordion>
            </li>
        {% endfor %}
    </ul>
</div>
