
@media (max-width: 1023px) {
    .modal {
        .modal-dialog {
            .modal-content {
                min-width: auto !important;
                max-width: 450px;
            }
        }
    }
}

@media (max-height: 800px) {
    .modal {
        .modal-dialog {
            .modal-content {
                min-height: 400px !important;
                max-height: 500px;

                .modal-body {

                    min-height: 400px !important;
                    max-height: 500px;
                }
            }
        }
    }
}

@media (max-width: 766px) {
    .modal {
        .modal-dialog {
            .modal-content {
                min-width: auto !important;
                max-width: 80%;
            }
        }
    }
}