@use "modal-responsive";

body {
    overflow: auto;
}
.modal {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;

    &:focus {
        outline: none;
    }

    .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;

        .modal-content {
            border-radius: 5px;
            position: fixed;
            z-index: 9999;
            top: 6em;
            width: 45em;
            background-color: #fff;
            box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
            padding: 1em;
            min-height: 600px;
            min-width: 800px;

            .modal-header {
                background-color: #FFFFFF;
                border-bottom: 1px solid #e8e8e8;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .modal-body {
                min-height: 600px;
                position: relative;

                iframe {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.modal-backdrop {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    transition: visibility 0s linear 0.3s, opacity 0.3s;
    backdrop-filter: blur(4px);
    opacity: 1;
    display: block;
    transition-delay: 0s;
}