{% block footer %}
<footer>
    <p>
        DigtX 2021 by Digt AG. Made with
        <object data="{{ asset('assets/images/icons/heart-r.svg') }}" type="image/svg+xml" >your broswser does not support svg</object>
     by Digt IT in cooperation with CAP Computer GmbH
   </p>
   <ul>
     <li>
       <a href="#">Brands For Employees</a>
     </li>
     <li>
       <a href="#">Brands For Students</a>
     </li>
     <li>
       <a href="#">Weekly Deals</a>
     </li>
     <li>
       <a href="#">My20Minuten</a>
     </li>
   </ul>
</footer>

  <div id="search_modal" class="search_modal">
    <form class="" action="index.html" method="post">
      <input type="text" name="" value="">
      <button type="button" name="button">
        <object data="{{ asset('assets/images/icons/search-m.svg') }}" type="image/svg+xml" >your broswser does not support svg</object>
      </button>
    </form>
    <hr class="s-hr">
    <div class="s-modal-blocks-list">
      <div class="s-modal-block">
        <h1>Orte</h1>
        <ul>
          <li>
            <a href="#">
              Login Google
            </a>
          </li>
          <li>
            <a href="#">
              Login DigtX
            </a>
          </li>
          <li>
            <a href="#">
              Login xyz
            </a>
          </li>
          <li>
            <a href="#">
              Login xyz
            </a>
          </li>
        </ul>
      </div>
      <hr class="s-hr">

      <div class="s-modal-block">
        <h1>Orte</h1>
        <ul>
          <li>
            <a href="#">
              login_file_01.pdf <span>Geändert</span> <span>02.01.2021 20:10</span>
            </a>
          </li>
          <li>
            <a href="#">
              login_file_01.pdf <span>Geändert</span> <span>02.01.2021 20:10</span>
            </a>
          </li>
          <li>
            <a href="#">
              login_file_01.pdf <span>Geändert</span> <span>02.01.2021 20:10</span>
            </a>
          </li>
          <li>
            <a href="#">
              login_file_01.pdf <span>Geändert</span> <span>02.01.2021 20:10</span>
            </a>
          </li>
          <li>
            <a href="#">
              login_file_01.pdf <span>Geändert</span> <span>02.01.2021 20:10</span>
            </a>
          </li>

        </ul>
      </div>

      <hr class="s-hr">

      <div class="s-modal-block">
        <h1>Mitarbeiter</h1>
        <ul>
          <li>
            <a href="#">
              Hans Login
            </a>
          </li>
          <li>
            <a href="#">
              Hans Login
            </a>
          </li>
          <li>
            <a href="#">
              Hans Login
            </a>
          </li>
          <li>
            <a href="#">
              Hans Login
            </a>
          </li>


        </ul>
      </div>
    </div>

  </div>
{% endblock %}
