<div
        class="modal fade"
        tabindex="-1"
        aria-hidden="true"
        data-modal-target="modal"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex align-items-baseline justify-content-between">
                    <h2 class="f-title">{{ modalData.title ?? "Modal" }}</h2>
                    <div class="d-flex align-items-center justify-content-end">
                        <button type="button"
                                class="o-btn mr-10"
                                data-action="modal#loadModalData">
                            <img style="height: 15px; margin-right: 10px" src="{{ asset('assets/images/icons/reload.svg') }}">
                            Reload content
                        </button>
                        <button type="button"
                                class="btn-close gr-btn"
                                data-bs-dismiss="modal"
                                aria-label="Close">Back</button>
                    </div>
                </div>
            </div>
            <div class="modal-body" data-modal-target="modalBody">
                {{ modalData.content | default('Loading...') }}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>