<body>
<main class="navigation" id="navigation">

    <div class="d-brand">
        <object data="{{ asset('assets/images/logo.svg') }}" type="image/svg+xml">your broswser does not support svg
        </object>
    </div>

    <a class="mobile-nav-btn" id="mobile-nav-btn" href="">
        <span class="icon"></span>
    </a>

    <div class="d-links-list">
        <ul class="d-links d-links-user" id="accordion-user">
            <li class="">
                <a class="user accordion-link" href="#">
                    <div class="">
                        <div class="profile-pic">
                            <img src="" alt="">
                        </div>
                    </div>
                    <p>
                <span>
                  {{ app.user.systemUser.name }}
                    {{ app.user.systemUser.lastName | slice(0, 1) }}.
                </span>
                    </p>
                </a>

                <div class="accordion-submenu user-submenu">
                    <ul>
                        <li><a href="{{ path('app_user-detail') }}">Account</a></li>
                        <li><a href="{{ path('logout') }}">Abmelden DigtX</a></li>
                        <li><a href="{{ path('logout_google') }}">Abmelden Google</a></li>
                    </ul>
                </div>
            </li>
        </ul>

        <ul class="d-links" id="accordion-menu">
            <li>
                <a class="" href="{{ path('home') }}">
                    <div class="">
                        <object data="{{ asset('assets/images/icons/light.svg') }}" type="image/svg+xml">your broswser
                            does not support svg
                        </object>
                    </div>

                    <p><span>Dashboard</span></p>
                </a>
            </li>

            <li>
                <a class="accordion-link" href="#">
                    <div class="">
                        <object data="{{ asset('assets/images/logo-s.svg') }}" type="image/svg+xml">your broswser does
                            not support svg
                        </object>
                    </div>

                    <p><span> Digt AG</span></p>
                </a>

                <div class="navigation-submenu">
                    <ul class="block-accordion" id="block-accordion-2">
                        <li>
                            <a class="link-block" href="#">Digt AG</a>

                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Organigramm</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Employees directory</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Knowledge database</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a class="link-block" href="#">Meetings </a>

                            <div class="block-submenu navigation-block">
                                <ul>
                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> D01_Digt AG</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> D02_IT</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> D03_Design</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> D04_Logistik</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> D05_Finanzen</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> D06_Human Ressources</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> D07_Partner</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> D08_Einkauf</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> D09_Business Operations</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-block" href="#">Documents </a>
                            <div class="block-submenu navigation-block">
                                <ul>
                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>
                                            <p><span> Goals</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>
                                            <p><span> Question catalog</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>
                                            <p><span> Processes</span></p>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="accordion-link" href="#">
                    <div class="">
                        <object data="{{ asset('assets/images/icons/light.svg') }}" type="image/svg+xml">your broswser
                            does not support svg
                        </object>
                    </div>

                    <p><span>HR</span></p>
                </a>

                <div class="navigation-submenu">
                    <ul class="block-accordion" id="block-accordion-1">
                        <li>
                            <a class="link-block" href="#">My Account</a>

                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> My ID</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Activity Management</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Calendar & absences</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Vehicle & Room Reservation</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-block" href="#">General</a>

                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Signature maker</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="accordion-link " href="#">
                    <div class="">
                        <object data="{{ asset('assets/images/icons/Work.svg') }}" type="image/svg+xml">your broswser
                            does not support svg
                        </object>
                    </div>

                    <p><span>Work</span></p>
                </a>

                <div class="navigation-submenu">
                    <ul class="block-accordion" id="block-accordion-1">
                        <li>
                            <a class="link-block" href="#">D01_Digt AG</a>

                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-block" href="#">D02_IT</a>
                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Web Checker</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-block" href="#">D03_Design</a>
                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Mainbild Library</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-block" href="#">D04_Logistik</a>
                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Analytics</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Tasks</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Job overview</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Invinit 1</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Invinit 2</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Warehouse stock</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="navigation-submenu-link ">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Material procurement</span></p>
                                        </a>

                                        <div class="navigation-submenu-dropdown">
                                            <ul>
                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> OZG</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> BSV</span></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>SyncIt protocol</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="navigation-submenu-link ">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> True EAN</span></p>
                                        </a>

                                        <div class="navigation-submenu-dropdown">
                                            <ul>
                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> App</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Protocol</span></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>DropIn Overview</span></p>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-block" href="#">D05_Finanzen</a>
                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="navigation-submenu-link ">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Reports</span></p>
                                        </a>

                                        <div class="navigation-submenu-dropdown">
                                            <ul>
                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Finance Dashboard</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Revenue</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Warehouse report</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Shipping (orders)</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Shipping (monthly)</span></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-block" href="#">D06_Human Ressources</a>
                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="navigation-submenu-link ">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Activity Management</span></p>
                                        </a>

                                        <div class="navigation-submenu-dropdown">
                                            <ul>
                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Employee overview</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> approvals</span></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-block" href="#">D07_Partner</a>
                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="navigation-submenu-link ">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Analytics</span></p>
                                        </a>

                                        <div class="navigation-submenu-dropdown">
                                            <ul>
                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Platform analytics</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Partner analytics</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Referal</span></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Partner overview</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Reminder (CRS)</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-block" href="#">D08.01_Lieferanten Aquise</a>

                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Supplier Management</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-block" href="#">D08.02_Produktangebote</a>
                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Supplier Management</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="navigation-submenu-link ">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Analytics</span></p>
                                        </a>
                                        <div class="navigation-submenu-dropdown">
                                            <ul>
                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Weekly statistics</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Platform analytics</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Deals</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Products</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> 20 Minuten</span></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Exports</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-block" href="#">D08.03_Affiliate</a>

                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Supplier Management</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="navigation-submenu-link ">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Analytics</span></p>
                                        </a>

                                        <div class="navigation-submenu-dropdown">
                                            <ul>
                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Platform analytics</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Coupons</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Travel</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> 20 Minuten</span></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Exports</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-block" href="#">D08.04_Dropshipping</a>

                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Supplier Management</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="navigation-submenu-link">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Analytics</span></p>
                                        </a>

                                        <div class="navigation-submenu-dropdown">
                                            <ul>
                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Platform analytics</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Weekly statistics</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Wine & Spirit</span></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Exports</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a class="link-block" href="#">D08.05_Sales Support</a>
                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="navigation-submenu-link ">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Stocks</span></p>
                                        </a>

                                        <div class="navigation-submenu-dropdown">
                                            <ul>
                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Low Stock</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Stock overview</span></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a class="link-block" href="#">D09.01_Deal operations</a>

                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>FTP Sync</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="navigation-submenu-link ">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Newsletter</span></p>
                                        </a>

                                        <div class="navigation-submenu-dropdown">
                                            <ul>
                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> NL Report</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> NL Generator</span></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>20 Minuten Preview</span></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Exports</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <a class="link-block" href="#">D09.02_Customer Care</a>
                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Customer notes</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>CC Statistik</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="link-block" href="#">D09.03_Order Management</a>

                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>Forms</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="" href="#">
                                            <div class=""></div>

                                            <p><span>DropIn Backoffice</span></p>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="navigation-submenu-link ">
                                            <div class="">
                                                <object data="{{ asset('assets/images/icons/logistic.svg') }}"
                                                        type="image/svg+xml">your broswser does not support svg
                                                </object>
                                            </div>

                                            <p><span> Supplier Order Automation</span></p>
                                        </a>

                                        <div class="navigation-submenu-dropdown">
                                            <ul>
                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/overview.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Sylius Overview</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> DigtX Orders</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Adjustments</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> Corrections</span></p>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a class="" href="#">
                                                        <div class="">
                                                            <object data="{{ asset('assets/images/icons/check-in.svg') }}"
                                                                    type="image/svg+xml">your broswser does not support
                                                                svg
                                                            </object>
                                                        </div>

                                                        <p><span> E-Mails</span></p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="" id="search-btn">
                    <div class="">
                        <object data="{{ asset('assets/images/icons/search.svg') }}" type="image/svg+xml" >your broswser does not support svg</object>
                    </div>
                    <p><span class="comsoon"> Search</span></p>
                </a>
            </li>
            <li>
                <a class="accordion-link" href="#">
                    <div class="">
                    </div>

                    <p><span> Admin</span></p>
                </a>

                <div class="navigation-submenu">
                    <ul class="block-accordion" id="block-accordion-2">
                        <li>
                            <a class="link-block" href="#">DigtX</a>

                            <div class="block-submenu navigation-block">
                                <ul class="navigation-submenu-dropdown-list">
                                    <li>
                                        <a class="" href="{{ path('app_admin_user_management_list') }}">
                                            <div class="">
                                            </div>

                                            <p><span> User Management</span></p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</main>
